body{
    background-color: black;
    color: white;
}

#sidebar-filter{
    border: 1px white solid;
    margin-top:5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#main-content{
    border: 1px white solid;
    margin-top:5px;
    margin-bottom: 5px;
    margin-right: 0px;
}